body {
    padding-top: 80px; /* Account for fixed navbar */
    background-color: #efefef;
}

body .container {
    background-color: #ffffff;
    padding-bottom: 25px;
}

header {
    height: 80px;
    background: url('/bundles/cssrmain/images/header_background.png') 0 0;
}

header .container {
    background-color: transparent;
}

header .cssr-header {
    height: 80px;
    background: url('/bundles/cssrmain/images/header_top.png') 0 0 no-repeat;
}

header nav ul.nav {
    margin: 10px 0 0 530px;
}

header nav p {
    padding-top: 10px;
    color: #428ccb;
}


footer .container {
    padding: 10px;
    border-top: 2px solid #e2e2e2;
    background-color: #212121;
    color: #636161;
}
footer .container p {
    font-size: 12px;
    padding-top: 10px;
}
footer .container a {
    color: #8a8989;
}

.sidebar-nav {
    padding: 9px 0;
}
.sidebar-nav .btn {
    margin: 6px 0 6px 0;
    padding: 6px;
    width: 130px;
    font-size: 13px;
}
.navbar-text.pull-right {
    float: none;
    padding-left: 5px;
    padding-right: 5px;
}

.dropdown-menu > li.disabled.nav-header > a {
    cursor: default;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

.nav > li.disabled.nav-header > a {
    cursor: default;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

#nav-center-name {
    font-size: 24px;
    color: white;
}

.breadcrumb {
    margin-top: 10px;
}

.required {
    text-decoration: underline;
}

.report-list li {
    margin-bottom: 10px;
}

#periodSelector {
    font-size: 16px;
    margin: 6px 0 10px 0;
}

.period-selector {
    width: 110px;
    margin-right: 20px;
}

#stats-insights div.alert {
    text-align: center;
}

label {
    margin-right: 10px;
}

#message-new input[type=text]{
    width: 400px;
}

#message-new textarea{
    width: 400px;
}

#message-edit input[type=text]{
    width: 400px;
}

#message-edit textarea{
    width: 400px;
}

#cssr_mainbundle_studenttype_entry div.bootstrap-select {
    width: 100px;
}

.report-avg-score-value {
    font-size: 1200%;
}
.report-avg-score {
    font-size: 200%;
}

.stats-insight-name {
    font-size: 150%;
}

.stats-insight-value {
    font-size: 400%;
}

@media print {

    body { padding-top: 2px; }
    body .container { padding-bottom: 2px; }

    .col-md-4{float:left;}
    .col-md-2{float:left;}

}

.score-comment-value {
    font-weight: bold;
    cursor:pointer;cursor:hand;
    text-decoration: underline;
}