{% extends '::base.html.twig' %}

{% block page_header %}
    <h1>Update Scores</h1>
{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{{ path('cssr_main_default_index') }}"><span class="glyphicon glyphicon-home"></span></a></li>
        <li class="active">Update Scores</li>
    </ol>
{% endblock %}

{% block body -%}

    <p>Choose a group to update:</p>

    <ul class="list-unstyled">
        <li><a href="{{ path('score_student') }}">Student</a></li>
        <li><a href="{{ path('score_staff') }}">Staff</a></li>
    </ul>
{% endblock %}
