{% extends '::base.html.twig' %}

{% block page_header %}
    <h1>Messages</h1>
{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{{ path('cssr_main_default_index') }}"><span class="glyphicon glyphicon-home"></span></a></li>
        <li class="active">Messages</li>
    </ol>
{% endblock %}

{% block body %}



{% endblock %}
