{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Center List</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('center_edit', { 'id': entity.id }) }}">{{ entity.name }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('center_new') }}" class="btn btn-primary">Create a new center</a>

    {% endblock %}
